services:

  db:
    image: postgres:18
    restart: always
    # Shared memory limit
    shm_size: 128mb
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
    - db_data:/var/lib/postgresql/
    ports:
      - ${DB_PORT}:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - ${ADMINER_PORT}:8080

  pikmin-parse-frontend:
    build: ./frontend
    ports:
      - 80:80

  pikmin-parse-backend:
    build: ./backend
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      ADMINER_URL: http://adminer:${ADMINER_PORT}
      JWT_SECRET: ${JWT_SECRET}
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
    ports:
      - 3000:3000
    depends_on:
      - db

volumes:
  db_data:
