@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-rgb: 0, 168, 130;
  --primary-color: rgb(var(--primary-color-rgb));
  --primary-color-dark-rgb: 0, 130, 100;
  --primary-color-dark: rgb(var(--primary-color-dark-rgb));

  --secondary-color-rgb: 255, 166, 51;
  --secondary-color: rgb(var(--secondary-color-rgb));
  --secondary-color-dark-rgb: 255, 140, 0;
  --secondary-color-dark: rgb(var(--secondary-color-dark-rgb));

  --tertiary-color-rgb: 114, 190, 247;
  --tertiary-color: rgb(var(--tertiary-color-rgb));
  --tertiary-color-dark-rgb: 72, 175, 231;
  --tertiary-color-dark: rgb(var(--tertiary-color-dark-rgb));

  --gray-100: #f7fafc;
  --gray-200: #edf2f7;
  --gray-300: #e2e8f0;
  --gray-400: #cbd5e0;
  --gray-500: #a0aec0;
  --gray-550: #8897ad;
  --gray-600: #718096;
  --gray-700: #4a5568;
  --gray-800: #2d3748;
  --gray-900: #1a202c;
}

body {
  @apply bg-gradient-to-b from-blue-100 to-green-200 min-h-screen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  --bg: var(--gray-200);
  --color: black;
  border-radius: 100vw;
  height: 2.5rem;
  font-size: 1rem;
  background: var(--bg);
  color: vaR(--color);
  transition: all 0.25s ease-in-out;
  @apply aspect-square flex items-center justify-center;
}

.button:hover {
  background: color-mix(in hsl, var(--bg) 80%, white);
}

.button .icon {
  background-color: var(--color);
}

.button-outline {
  --color: white;
  --bg: transparent;
  background: transparent;
  border: 2px solid var(--color);
  @apply aspect-square flex items-center justify-center;
}

.button-primary {
  --bg: var(--primary-color);
}

.button-primary .icon {
  --color: white;
}

.big-button {
  @apply button;
  --bg: var(--primary-color);
  --color: white;
  padding: 0.5rem 1rem;
  aspect-ratio: unset;
  font-weight: bold;
}

.button-red {
  --bg: #de4230;
}

.button-green {
  --bg: #1aca06;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--bg);
}

.forward-icon {
  mask: url('/images/icons/drillin.png') no-repeat center / contain;
}

.edit-icon {
  mask: url('/images/icons/edit.png') no-repeat center / contain;
}

.close-icon {
  mask: url('/images/icons/close.png') no-repeat center / contain;
}

.save-icon {
  mask: url('/images/icons/save.png') no-repeat center / contain;
}

.plus-icon {
  mask: url('/images/icons/plus.png') no-repeat center / contain;
}

.delete-icon {
  mask: url('/images/icons/delete.png') no-repeat center / contain;
}

.everyone-icon {
  mask: url('/images/icons/everyone.png') no-repeat center / contain;
}

.flip-icon {
  mask: url('/images/icons/flip.png') no-repeat center / contain;
}

.spinning-icon {
  animation: spin 1s linear infinite;
}

.attention-icon {
  background-color: #b30000;
  mask: url('/images/icons/attention-stroke.png') no-repeat center / contain;
}

.spinner {
  --bg: black;
  display: flex;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.error-message {
  background-color: #ffe5e5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #b30000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
